<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/search_sidebar', categories: @categories %>
    </div>
    <div class="column is-9">
      <h1><strong>全国のゲストハウス一覧</strong></h1><br>
      <%= render 'index', houses: @houses %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
