<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/search_sidebar', {categories: @categories, house_areas: @house_areas} %>
    </div>
    <div class="column is-9">
      <%= render 'index', houses: @houses %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
