<h1>ゲストハウス口コミサイト"trasto"です</h1>

<p>
  <%= @user.display_name %>様,<br> 
  ゲストハウス口コミサイト"trasto"へようこそ！
</p>

<p>
  現在、仮登録中です。<br>
  ユーザー登録完了のため、お手数ですが下記のリンクからアカウントの有効化をお願いします。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>


