<h1>ゲストハウス口コミサイト"trasto"です</h1>

<p>
  <%= @user.display_name%>様,
</p>

<p>
  パスワードの再設定リクエストを受け付けました。<br>
  下記のリンクから設定をお願いします。（本リンクは発行から2時間有効です）
</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>
  本メールに心当たりがなければ、誠に恐れ入りますが、ご放念くださいませ。
</p>
