      <aside class="menu has-background-white">
        <ul class="menu-list has-text-centered">
          <%= link_to "ゲストハウスをさがす", houses_path, class: "has-text-weight-bold" %>
        </ul>
        <p class="menu-label">
          カテゴリーから探す
        </p>
        <ul class="menu-list">
          <% categories.each do |category| %>
            <li><%= link_to category.name, houses_path(category_id: category.id) %></li>
          <% end %>
            <li><%= link_to "他のカテゴリで探す", categories_path, class: "has-text-right" %></li>
        </ul>
        <p class="menu-label">
          エリアで探す
        </p>
        <ul class="menu-list">
        <% house_areas.each do |house_area| %>
          <li><%= link_to house_area.name, houses_path(house_area_id: house_area.id) %></li>
        <% end %>
        </ul>
      </aside>