<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/user_sidebar', {user: @user, isRoom: @isRoom, roomId: @roomId, room:@room, entry:@entry} %>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-full">
          <%= render partial: "user/tweets/tweet", collection: @tweets %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>