@import "bulma";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";


.main-content{
  padding-top: 68px;
  padding-bottom: 12px;
}

.header-link{
  a:link {color:white; text-decoration:none }
  a:visited { color:white; text-decoration:none }
  a:hover { color:white; text-decoration:none }
  a:active { color:white; text-decoration:none }
  text-align:center;
  line-height: 56px;
  padding-right:12px;
  padding-left:12px;
}

.logo-header{
  // line-height: 56px;
  // height: 56px;
  margin: auto 0;
}

.navbar-dropdown{
  background-color:rgb(54,54,54);
}

#message-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
}

// メッセージ投稿フォーム
roomfooter {
  max-width: 768px;
  // padding: 1rem;
  margin: 0 auto;
}

.footerforroom{
  background-color:rgb(54,54,54);
  padding-top: 1rem;
  // padding-bottom: 15rem;
}

// ユーザーがフォームサイズを自由に変更できる機能を停止させておく
#message_content {
  resize: none;
}

.slide-c{
  height: 440px;
  width :100%;
}

.slide-d{
  height: 202px;
  width :100%;
}

.story-card{
  margin-bottom: 1rem;
}