@import "bulma";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.login-hero{
  background-image: image-url("/images/beach.jpg");
  background-size: cover;
}

.signup-hero{
  background-image: image-url("/images/hateroad2.jpg");
  background-size: cover;
}

.avatar-form{
  display: none;
}

.top-footer{
  padding-top: 24px;
  padding-bottom: 24px;
}

.fa-arrow-circle-up:hover{
  color:hsl(204, 86%, 53%);
  background-color:none;
}

#back-to-top a{
  color:hsl(204, 86%, 53%);
  background-color:none;
}

#back-to-top a:hover{
  background :none;
  color:black;
}

.fa-arrow-circle-down:hover{
  color:hsl(171, 100%, 41%);
  background-color:none;
}

#back-to-btm a{
  background :none;
  color:hsl(171, 100%, 41%);
}

#back-to-btm a:hover{
  background :none;
  color:black;
}


.main-content{
  padding-top: 68px;
  padding-bottom: 12px;
}

.admin-notice{
  padding-top: 68px;
}

.header-link{
  a:link {color:white; text-decoration:none }
  a:visited { color:white; text-decoration:none }
  a:hover { color:white; text-decoration:none }
  a:active { color:white; text-decoration:none }
  text-align:center;
  line-height: 56px;
  padding-right:12px;
  padding-left:12px;
}

.room-hader-notice{
  text-align:center;
  line-height: 56px;
  padding-right:12px;
  padding-left:12px;
}

.header-logo{
  margin-top: 4px;
}

.navbar-dropdown{
  background-color:hsl(171, 100%, 41%);
}

.btn-ignore{
  pointer-events: none;
}

.message-box{
  padding:0.5rem;
}

// ユーザーがフォームサイズを自由に変更できる機能を停止させておく
#message_content {
  resize: none;
}

.story-card{
  margin-bottom: 1rem;
}

.slide-grandchild{
  width :100%;
}

.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

.navbar-menu{
  background-color:hsl(171, 100%, 41%);
}

.pagination{
  justify-content: space-between;
  margin: 4px;
}

.round_icon{
  border-radius: 30px;
}

.openBtn{
  padding-top: 10px;
  padding-bottom: 10px;
}

.hidden-set{
  display: none;
}

.chatroom_smalltext{
  padding: none;
  font-size: 0.50rem;
}