<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      // ？？
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-full">
          <div></div>
          <br>
          <h1>今の気持ちをツブヤキしよう</h1>
          <%= render partial: "tweet_form" %>
          <div></div>
          <br>
          <%# 各ツブヤキの呼び出し %>
          <%= render partial: "tweet", collection: @tweets %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>