  <footer class="footer has-background-primary top-footer">
    <div class="content has-text-centered">
      <div class="container">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' お問い合わせ ', signup_path, class: "has-text-white is-size-6" %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' このサイトについて ', signup_path, class: "has-text-white is-size-6" %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' プライバシーポリシー ', login_path, class: "has-text-white is-size-6" %></p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </footer>